@charset "UTF-8";
body {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

/* Compartido */
/* Nav */
.navbar {
  background-color: #f1bc52;
  padding: 0px 16px; }
  .navbar button {
    border: none; }
  .navbar .navbar-toggler-icon {
    height: 25px;
    width: 25px; }
  .navbar .navbar-brand {
    position: relative;
    right: 115px;
    padding: 0px; }
    .navbar .navbar-brand img {
      width: 70px;
      height: 70px; }

/* Footer */
footer {
  background-color: black;
  color: white;
  font-weight: 300;
  padding: 15px 0px 0px 0px; }

.footer__motivarContacto {
  padding: 15px; }

.footer__motivarContacto--titulo {
  font-size: 17pt;
  font-weight: 500; }

.footer__motivarContacto--texto {
  font-size: 12pt; }

.footer__motivarContacto--mail, .footer__motivarContacto--telefono {
  font-weight: 500;
  font-size: 12pt; }

.botonEnviar {
  background-color: #f1bc52;
  font-weight: 700;
  font-size: 12pt;
  padding: 2px;
  color: black; }

.footer__copy {
  background-color: #f1bc52; }

.footer__copy--texto {
  margin: 0px;
  color: black;
  text-align: center;
  font-size: 12pt;
  padding: 15px; }

.footer__redes {
  background-color: #9ad3da;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .footer__redes img {
    width: 30px;
    margin: 15px; }

/* Home */
/* Section */
.section__tituloPresentacion {
  height: 650px;
  background-image: url("../multimedia/imagenPresentacion.jpg");
  background-size: cover; }

.section__tituloPresentacion--titulo {
  width: 68%;
  font-size: 35pt;
  font-weight: 700;
  padding: 5px;
  margin: 0px 0px 0px 20px;
  position: relative;
  top: 30px;
  background-color: #f1bc52; }

.section__descripcionPresentacion--texto {
  font-size: 13pt;
  padding: 10px;
  font-weight: 300;
  margin: 0px 0px 0px 20px;
  background-color: #f1bc52;
  position: relative;
  top: 70px;
  width: 89%; }

.section__pdv {
  background-color: #9ad3da;
  padding: 0px; }

.col-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }

.section__pdv--img {
  width: 150px;
  padding: 15px 0px 15px 0px; }

.section__pdv--titulo {
  font-weight: 700;
  text-align: center;
  font-size: 18pt;
  margin: 0px;
  width: 200px; }

.section__pdv--descripcion {
  text-align: center;
  font-weight: 300;
  font-size: 12pt;
  margin: 15px 0px 0px 0px;
  width: 250px; }

.section__clientes {
  background-color: #f1bc52;
  padding: 0px; }

.section__clientes--titulo {
  font-size: 17pt;
  padding: 15px;
  margin: 0px; }

.row {
  margin: 0px; }

.section__clientes--logoCliente {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.section__clientes--img {
  margin: 0px 40px 0px 40px; }

/* Secciones */
/* Compartido */
.section__servicio--titulo {
  font-size: 25pt;
  padding: 15px 15px 0px 15px;
  font-weight: 500; }

.section__servicio--descripcion {
  font-size: 12pt;
  padding: 15px;
  font-weight: 300; }

.section__servicio--boton {
  font-size: 10pt;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.section__servicio--boton a {
  font-size: 12pt;
  background-color: #f1bc52;
  font-weight: 300;
  padding: 10px;
  text-decoration: none;
  color: black;
  animation-name: cta;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

@keyframes cta {
  100% {
    background-color: #9ad3da;
    font-weight: 700; } }

/* Identidad */
.section__servicio--listaIdentidad--item {
  font-size: 12pt;
  padding: 0px 15px 7px 7px;
  font-weight: 300; }

/* Gestion de RR SS */
.section__servicio--listaGestionDeRedesSociales--item {
  font-weight: 300;
  font-size: 12pt; }

/* Campañas */
.section__servicio--tablaCampanas {
  margin: 15px;
  width: auto; }
  .section__servicio--tablaCampanas th {
    text-align: center;
    font-size: 1.2rem;
    color: yellow; }
    .section__servicio--tablaCampanas th ol, .section__servicio--tablaCampanas th ul {
      margin: 0px;
      padding: 0px; }
      .section__servicio--tablaCampanas th ol li, .section__servicio--tablaCampanas th ul li {
        list-style: none;
        text-align: center;
        margin: 5px;
        font-weight: 500; }

/* -----------------------------------------------------------------------------------------------------*/
/* RESPONSIVE TABLET */
@media only screen and (min-width: 376px) and (max-width: 769px) {
  /* Compartido */
  /* Header */
  .navbar {
    background-color: #f1bc52;
    padding: 0px 16px; }
    .navbar .navbar-brand {
      position: relative;
      right: 300px;
      padding: 0px; }
      .navbar .navbar-brand img {
        width: 120px;
        height: 120px; }
  /* Section */
  .section__tituloPresentacion--titulo {
    left: 40px;
    top: 20px; }
  .section__descripcionPresentacion--subtitulo {
    font-size: 18pt;
    padding: 20px 40px 0px 40px;
    margin: 0px; }
  .section__descripcionPresentacion--texto {
    padding: 20px 40px 20px 40px;
    font-size: 18pt; }
  .section__pdv--titulo {
    font-weight: 700;
    text-align: center;
    font-size: 18pt;
    margin: 0px; }
  .section__pdv--descripcion {
    text-align: center;
    font-weight: 300;
    font-size: 18pt;
    margin: 0px;
    padding: 30px; }
  .section__clientes--titulo {
    font-size: 18pt;
    padding: 20px 40px 20px 40px; }
  /* Footer */
  .footer__motivarContacto {
    margin: 0px 40px; }
  .footer__motivarContacto--titulo {
    font-size: 24pt; }
  .footer__motivarContacto--texto {
    font-size: 18pt; }
  .footer__motivarContacto--mail {
    font-size: 18pt; }
  .footer__motivarContacto--telefono {
    font-size: 18pt; }
  .form-control, .form-group {
    font-size: 18pt; }
  .botonEnviar {
    font-size: 18pt; }
  .form-check {
    margin-left: 65px; }
  .footer__copy--texto {
    font-size: 18pt;
    padding: 20px; }
  .footer__redes img {
    width: 45px;
    margin: 15px; } }

/* RESPONSIVE DESKTOP */
@media only screen and (min-width: 770px) {
  .navbar {
    background-color: #f1bc52;
    padding: 0px 16px; }
    .navbar .navbar-brand {
      position: relative;
      right: 650px;
      padding: 0px; }
      .navbar .navbar-brand img {
        width: 90px;
        height: 90px; }
  .section__tituloPresentacion--titulo {
    left: 40px;
    top: 140px;
    font-size: 34pt; }
  .section__tituloPresentacion {
    height: 450px; }
  .section__descripcionPresentacion--subtitulo {
    font-size: 24pt;
    padding: 40px 40px 0px 40px; }
  .section__descripcionPresentacion--texto {
    padding: 40px 40px 40px 40px;
    font-size: 18pt; }
  .section__clientes--titulo {
    font-size: 24pt;
    padding: 40px; }
  .footer__motivarContacto--titulo {
    font-size: 24pt;
    padding: 40px; }
  .footer__motivarContacto--texto {
    font-size: 18pt;
    padding: 0px 40px 0px 40px; }
  .footer__motivarContacto--mail {
    font-size: 18pt;
    padding: 0px 40px 0px 40px; }
  .footer__motivarContacto--telefono {
    font-size: 18pt;
    padding: 0px 40px 0px 40px; } }
