@import "responsive";


body {font-family: 'Prompt', sans-serif;
    font-weight: 700;}

a {text-decoration: none;}

/* Compartido */

/* Header */

header { background-color: yellow; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0px;}
    

.header__contenedor1{width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

.header__contenedor1--logo {margin-left: 10px; height: 100px;}


.header__iconosRedes {margin: 0px 20px 0px 0px;}

/* Nav */

.navbar {background-color:black;	
         a{color: white !important;}
        .dropdown-menu { a {color: black !important;}}
        button {background-color:yellow;}
        }


/* Footer */

footer {background-color: black;
    color:white;
    font-weight: 300;
    padding: 15px 0px 0px 0px;}

.footer__motivarContacto {padding:15px;}

.footer__motivarContacto--titulo {text-align: center;
                                  font-size: 2rem;
                                  font-weight: 500;}
.footer__motivarContacto--texto{font-size:1rem;}

.footer__motivarContacto--mail, .footer__motivarContacto--telefono {font-weight: 500;
                                                                    font-size: 1.3rem;}                       

.botonEnviar {background-color:yellow;
            font-weight: 700;
            font-size: 18px;
            padding:2px;
            color:black;}

.footer__copy{background-color: yellow;}

.footer__copy--texto{margin:0px;
                    color: black;
                    text-align: center;}

/* Home */

/* Section */


.section__tituloPresentacion{height: 203px;
    background-image: url("../multimedia/imagenPresentacion.jpg");
    background-size: cover;
    padding-left: 0.5rem;}

.section__tituloPresentacion--titulo {width: 30%;
          font-size: 2rem;
          margin:0px;   
          position: relative;
          top: 0.5rem;}
        
.section__descripcionPresentacion {background-color: yellow;}

.section__descripcionPresentacion--texto {font-size: 1.2rem; padding: 15px; font-weight: 300;}


.col-12 {display:flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        }

.section__servicios--img {width: 250px; padding:15px 0px 15px 0px;}

#rrss{width: 230px;}

#campanas{width: 225px;}

.section__servicios--titulo {font-weight: 700; text-align: center; font-size: 2.5rem; margin: 0px;}

.section__clientes {padding:15px; margin-top: 15px;}

.section__clientes--titulo {font-size: 2rem;}

.section__clientes--img{ width:130px; height: auto;}

.section__servicios--boton{ font-size: 1.8rem; 
                            a{text-decoration: none; color: white; background-color: purple ; width: 8rem; text-align: center;}
}

/* Secciones */

/* Compartido */

.section__servicio--titulo {font-size: 2rem; padding: 15px 15px 0px 15px; font-weight: 500;}

.section__servicio--descripcion {font-size: 1.2rem; padding: 15px; font-weight: 300;}

.section__servicio--boton {font-size: 1.2rem; margin-top: 25px; margin-bottom: 25px; display:flex; 
    flex-direction: row; justify-content: center;}

.section__servicio--boton a {background-color: yellow; font-weight: 700; padding: 10px; text-decoration: none; 
    color: black;
    animation-name: cta; animation-duration: 1s; animation-iteration-count: infinite;} 

@keyframes cta{  100% {background-color: aqua; transform: scale(1.1, 1.1);}}   

/* Identidad */

.section__servicio--listaIdentidad--item {font-size: 1.2rem; padding: 0px 15px 7px 7px ; font-weight: 300;}

/* Campañas */

.section__servicio--tablaCampanas{ margin:15px; width: auto;

    th {text-align: center; font-size: 1.2rem; color:yellow;}
    ol, ul {margin: 0px; padding: 0px;
        li {list-style: none; text-align: center; margin:5px; font-weight: 500;}
    }
}

/* Gestión de Redes Sociales */

.section__servicio--listaGestionDeRedesSociales--item {font-size: 1.2rem; padding: 0px 15px 7px 7px ; font-weight: 300;}
